h1 {color: teal;
text-align: center;
font-size: 50px;
font-family:"Righteous";
}
#enllaç {
  color: orange;
  font-size: 23px;
}

#texto {
  color: DarkGoldenRod;
  font-size: 29px;
  font-family:"Mansalva";
}
body {background-color: black
